.boxes{
  display: flex;
}

.card-top-p{
  font-size: 12px;
  color:#A3A3A3;
  font-family: Arial;
}

.para-container{
  display: flex;
  align-items: center;
  /* margin-top: 5px; */
  gap:5px;
}

.main-para{
  font-size: 14px;
  font-family: Arial;
  color: #4B4B4B;
}