.Dashboardmain{
  width: 100%;
  display: flex;
  .d-flex{
    display: flex;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .alignItem{
    align-items: center;
  }
  .MuiOutlinedInput-root{
    background: #e7e7e7;
    border: unset;
  }
  .download{
    background-color: light#e3dfdf;
    padding: 7px;
    height: 27px;
    justify-content: space-between;
    border-radius: 6px;
    img{
      margin-right: 6px;
      width: 16px;
    }
    p{
      margin: 0;
    }
  }
  .justifybetween{
    justify-content: space-between;
  }
  .w-100{
    width: 100%;
  }
  .flex-column{
    flex-direction: column;
  }
  hr{
    border: 1px dotted #efe9e9;
    width: 100%;
  }
  .mb-20{
    margin-bottom: 20px;
  }
  .mt-20{
    margin-top: 20px !important;
  }
  .justifycenter{
justify-content: center;
  }
  .grey{
    color: gray !important;
  }
  .relative{
    position: relative;
  }
  .navbar{
    display: flex;
    z-index: 11;
    overflow: hidden;
    min-width: 130px;
    position: relative;
    flex: 0 0 130px;
    margin-top: -60px;
    padding-top: 60px;
    transition: all .2s;
    height: 100vh;
  }
  .Dashboard.fullHeight {
    background-color: #f1f7fd;
    flex: 1;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding-left: 130px;
    flex-wrap: wrap;
    padding-left: 15px;
    overflow: hidden;
    .head{
      font-size: 30px;
      margin-top: 0;
    }
    .cardbox{
      .customerseg{
        position: relative;
        .marker{
          width: 17px;
          position: absolute;
          top: 12px;
          margin-left: 7px;
        }
        .MuiInputLabel-formControl{
          margin-left: 15px;
        }
      }
     
      .card{
        box-shadow: 4.491428852081299px 4.491428852081299px 40.4228630065918px 0px #0000000D;
        background: white;
        border-radius: 10px;
        padding-top: 0;
        padding: 10px;
        margin-left: 0;
        display: flex;
        margin-right: 5px;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-right:16px;
        .viewall{
          p{
            color: #518ECB;
            margin-right: 5px;
            font-weight: 500;
          }
        }
        .dotted{
          border: 1px dotted #c1bcbc;
        }

        .lefticon{
          height: 80px;
        }
        h3{
          margin: 0;
          padding: 0;
          color: #00054b;
          font-size: 18px;
          margin-bottom: 8px;
        }
        p{
          padding: 0;
          margin: 0;
          color: #00054b;
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        span{
          color: #e3dfdf;
          margin-left: 5px;
        }
        .rightcon{
          margin-left: 10px;
        }
        h5{
          font-size: 14px;
          color: rgb(88, 85, 85);
          margin: 0;
        }
        .bg-red{
          background-color: red;
          padding: 5px;
            color: white;
            margin-left: 5px;
            border-radius: 5px;
            padding: 8px;
            margin-top: 12px;
        }
      }
      .rightcorner{
        padding-left: 5px;
        .button{
            background-color: #80a04d;
            padding: 5px;
            color: white;
            margin-left: 5px;
            border-radius: 5px;
            padding: 8px;
            margin-top: 12px;
        }
      }
      .segment{
        box-shadow: 4.491428852081299px 4.491428852081299px 40.4228630065918px 0px #0000000D;
        background: white;
        border-radius: 10px;
        padding-top: 0;
        padding: 10px;
        margin-left: 0;
        display: flex;
        margin-right: 5px;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        position: relative;
        .customer{
          display: flex;
          align-items: center;
          border: 1px dotted #c1bcbc;
          border-radius: 5px;
          padding: 10px;
          position: relative;
          &::before{
            position: absolute;
            content: "";
            background-image: url(../../assets/images/stop.svg);
            width: 100%;
            height: 83px;
            background-repeat: no-repeat;
            left: 43px;
            top: 102%;
           

          }
         
          h3{
            padding: 0;
            margin: 0;
          }
          p{
            margin: 0;
          }
          .rightcon{
            margin-left: 10px;
          }
        }
        .mt-80{
          margin-top: 0px;
        }
        .arrowbottom{
          position: relative;
          // position: absolute;
          content: "";
          background-image: url(../../assets/images/left.svg);
          width: 100%;
          height: 100px;
          background-repeat: no-repeat;
          left: 78px;
          top: 44px;
         
          &::before{
            position: relative;
            content: "";
            background-image: url(/src/assets/images/right.svg);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            right: 46%;
            top: 0;
            left: 43%;
            display: block;
          }
          
        }
       
       
        .filter{
          border: 1px solid #e3dfdf;
          padding: 8px;
          border-radius: 5px;
          background: #e7e7e7;
          .round{
            border-radius: 50%;
            background-color: lightgray;
            color: black;
            padding: 5px;
          }
        }
        .card{
          background-color: #005da1;
          padding: 5px;
          color: white;
        }
        .cus_cardbox{
          padding: 10px;
          border-radius: 10px;
          border: 1px dotted #c1bcbc;
          .cus_card{
            display: flex;
            flex-direction: column;
            span{
              font-size: 13px;
            }
            .top-section{
              display: flex;
              gap:8px;
              padding: 8px;
              border-radius: 8px;
              background-color: #1C5AA5;
              .justify-content-between {
                width: 100%;
                justify-content: space-between;
              }
              .align-items-center {
                align-items: center;
              }
              p{
                margin: 0px;
                font-size: 18px;
                color: #fff;;
              }
            }
            .mid-section{
              display: flex;
              flex-wrap: wrap;
              .tags{
                background-color: #EFF6FF;
                display: flex;
                gap:4px;
                border-radius: 4px;
                padding: 7px;
                margin-bottom: 7px;
                margin-right: 5px;
                span{
                  font-size: 13px;
                }
              }
            }
            .show-more-section{
              button{
                width: 100%;
                color: #fff;
                background-color: #1C5AA5;
              }
            }
          }
        }
        
      }
    }
    .recom{

    }
    .recomm{
      h3{
        margin: 0;
    padding: 0;
    color: #00054b;
    font-size: 25px;
    margin-bottom: 8px;
      }
    }
  }
}